body {
  margin: 0;
  padding: 0;
}

#header-links > a {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.25rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
}

a:hover {
  text-decoration: underline;
}

#header-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  padding: 1em 0;
}

#header-title {
  width: 40%;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

#header-links {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  border-right: 2px solid black;
}

#cart {
  max-height: 30px;
}

#header-cart {
  width: 15%;
  padding: 1em;
}

#home-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

#home-image {
  max-width: 960px;
  margin: 2em auto 2em;
}

#home-title {
  font-size: 4rem;
  margin: 0.5em auto 0.5em;
}

#home-description {
  width: 90%;
  margin: 0 auto 2em;
  font-size: 2rem;
}

#shop-container {
  max-width: 1200px;
  margin: 2em auto 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  outline: 1px solid black;
  background-color: lightcyan;
}


#shop-container > div {
  display: flex;
  flex-direction: column;
  margin: 1em 0.5em 1em;
  padding: 1em;
  justify-content: space-between;
  height: 350px;
  background-color: pink;
  border-radius: 2em;
  box-shadow: 0.25em 0.25em 0.25em black;
}

.item > img, .item > div {
  display: block;
  max-width: 240px;
  text-align: center;
}

.item > img {
  margin: auto 0 auto;
}

.name {
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom: 0.15rem solid black;
  padding-bottom: 0.5rem;
  width: 70%;
  margin: 0 auto;
}

.price {
  font-weight: 700;
  border-top: 0.15rem solid black;
  padding-top: 0.5rem;
  width: 70%;
  margin: 0 auto;
}

.cart > input {
  width: 20%;
  text-align: center;
}

#cart-title {
  font-size: 2rem;
  font-weight: 700;
}

#cart-container {
  max-width: 1200px;
  margin: 3em auto 3em;
  outline: 1px solid black;
}

.cart-content {
  display: flex;
  width: 50%;
  outline: 1px solid black;
  height: 150px;
}

.cart-pics {
  padding: 1em 2em 1em;
}

.cart-item-name {
  font-weight: 700;
  font-size: 1.25em;
}

.cart-right {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: auto 0 auto 3em;
}



.empty-cart > #cart-body {
  font-size: 1.5rem;
}

.cart-pics {
  max-width: 120px;
  margin: auto 0 auto;
}

#sample {
  display: flex;
}

#footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  outline: 1px solid black;
}

/* without flexing this, the container is 4px taller than its contents for some reason */
#footer-right, #footer-left {
  display: flex;
  flex-direction: column;
}

#address, #phone {
  margin-bottom: 0.5em;
}