body {
  margin: 0;
  padding: 0;
}

#header-links > a {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.25rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
}

#header-links > a:hover {
  text-decoration: underline;
}

#header-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  padding: 1em 0;
}

#header-title {
  width: 40%;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

#header-links {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  border-right: 2px solid black;
}

#cart {
  max-height: 30px;
  margin-right: 1em;
}

#total-items-indicator {
  font-size: 1.25rem;
  font-weight:700;
  text-decoration: none;
}

#header-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  margin: 0 auto;
}

#header-cart:hover {
  text-decoration: underline;
}

#home-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

#home-image {
  max-width: 960px;
  margin: 2em auto 2em;
}

#home-title {
  font-size: 4rem;
  margin: 0.5em auto 0.5em;
}

#home-description {
  width: 90%;
  margin: 0 auto 2em;
  font-size: 2rem;
}

#shop-container {
  max-width: 1200px;
  margin: 2em auto 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid black;
  background-color: lightcyan;
}


#shop-container > div {
  display: flex;
  flex-direction: column;
  margin: 1em 0.5em 1em;
  padding: 1em;
  justify-content: space-between;
  height: 350px;
  background-color: pink;
  border-radius: 2em;
  box-shadow: 0.25em 0.25em 0.25em black;
}

.item > img, .item > div {
  display: block;
  max-width: 240px;
  text-align: center;
}

.item > img {
  margin: auto 0 auto;
}

.name {
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom: 0.15rem solid black;
  padding-bottom: 0.5rem;
  width: 70%;
  margin: 0 auto;
}

.price {
  font-weight: 700;
  border-top: 0.15rem solid black;
  padding-top: 0.5rem;
  width: 70%;
  margin: 0 auto;
}

.cart > input {
  width: 20%;
  text-align: center;
}

#empty-cart-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 11.5em auto 11.5em;
  border: 1px solid black;
}

#empty-cart-title {
  font-size: 2rem;
  font-weight: 700;
  padding: 1em 0 1em;
  text-align: center;
}

#empty-cart-body {
  text-align: center;
  margin: 5em auto;
  font-size: 1.5em;
}

#free-shipping-reminder {
  max-width: 1200px;
  margin: 2em auto 0;
  padding: 0.5em 0;
  text-align: center;
  background-color: lightblue;
  font-weight: 700;
  font-size: 1.25em;
}

#non-empty-cart-container {
  display: flex;
  max-width: 1200px;
  margin: 2em auto 5em;
  border: 1px solid black;
}

#cart-left {
  width: 65%;
}

#cart-right {
  width: 35%;
  border-left: 1px solid black;
}

#summary-title {
  font-size: 2rem;
  font-weight: 700;
  padding: 1em 0 1em;
  text-align: center;
  border-bottom: 1px solid black;
}

#summary-body {
  display: flex;
  margin: 2em 3em;
}

#summary-body-left, #summary-body-right {
  width: 50%;
}

#summary-body-right {
  text-align: right;
}

#summary-body-left > div, #summary-body-right > div {
  margin-bottom: 1em;
}

#summary-body-left > div {
  font-weight: 700;
}

#cart-title {
  font-size: 2rem;
  font-weight: 700; 
  padding: 1em 0 1em;
  text-align: center;
}

.cart-content {
  display: flex;
  height: 150px;
  border-top: 1px solid black;
  padding: 0.5em 0;
}

.cart-content-left {
  display: flex;
  flex-direction: column;

  margin: 0 1em;
}


.cart-item-name {
  font-weight: 700;
  font-size: 1.25em;
}

.cart-item-price {
  font-weight: 400;
  font-size: 1rem;
}

.cart-middle {
  display: flex;
  flex-direction: column;

  margin: auto 0 auto 3em;
}

.cart-middle > div {
  margin: .25em 0;
}


.cart-item-quantity {
  font-size: 1.125em;
  font-weight: bold;  
}

.cart-minus-button {
  margin-right: 2em;
}

.cart-minus-button, .cart-plus-button {
  font-size: 1.125em;
  font-weight: 700;
  background-color: transparent;
  border: 1px solid black;
  width: 25px;
  height: 25px;
}


.cart-minus-button:hover {
  cursor: pointer;
  background-color: rgb(252, 206, 206);
}

.cart-plus-button:hover {
  cursor: pointer;
  background-color: rgb(198, 245, 198);
}


.cart-item-total {
  margin: auto 2em auto auto;
  font-size: 1.25rem;
  font-weight: 700;
}

.empty-cart > #cart-body {
  font-size: 1.5rem;
}

.cart-pics {
  max-width: 120px;
  margin: auto 0 auto;
}

.order-total {
  margin-top: 3em;
  padding-top: 3em;
  border-top: 1px solid gray;
  color: rgb(192, 0, 0);
}

#place-order {
  text-align: center;
  margin-bottom: 2em;
}

#place-order > button {
  background-color: orange;
  padding: 1em 3em;
  border-radius: 3em;
  font-size: 1.25rem;
}

#footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  outline: 1px solid black;
}

/* without flexing this, the container is 4px taller than its contents for some reason */
#footer-right, #footer-left {
  display: flex;
  flex-direction: column;
}

#address, #phone {
  margin-bottom: 0.5em;
}

@media (max-width: 761px) {
  #header-cart {
    flex-direction: column;
  }

  #cart {
    margin-right: 0;
    margin-bottom: 0.5em;
  }

  #non-empty-cart-container {
    flex-direction: column;
  }

  #cart-left, #cart-right {
    width: 100%;
  }

  #summary-title {
    border-top: 1px solid black;
  }
}

@media (max-width: 465px) {

}